name: Run Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Install an appropriate version of llvm
      - name: Build and Install LLVM (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          git clone https://github.com/llvm/llvm-project.git --branch release/21.x LLVM-21
          cd LLVM-21
          cmake -S llvm -B build "-DCMAKE_INSTALL_PREFIX=C:\LLVM-21\" "-DLLVM_ENABLE_PROJECTS=clang" "-DCMAKE_BUILD_TYPE=Release"
          cmake --build build --target install --config Release
          echo "LLVM_SYS_211_PREFIX=C:\LLVM-21\" >> $GITHUB_ENV

      - name: Install LLVM (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get install -y llvm-21-dev libllvm21 libpolly-21-dev
          echo "LLVM_SYS_211_PREFIX=/usr/lib/llvm-21" >> $GITHUB_ENV

      - name: Install LLVM (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew install llvm@21
          echo "LLVM_SYS_211_PREFIX=$(brew --prefix llvm@21)" >> $GITHUB_ENV

      # Install the target version of Rust
      - name: Update Rust Toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.85.0"

      - name: Set Rust Toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}

      # Build and run the tests
      - name: Build Workspace
        run: cargo build --verbose --workspace

      - name: Run Tests
        run: cargo test --verbose --workspace
