name: Run Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Install an appropriate version of llvm
      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v2.0.9
        with:
          version: "14.0"
          arch: ${{ case(matrix.os == 'macos-latest', 'arm64', 'x64') }}

      # Install the target version of Rust
      - name: Update Rust Toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.83.0"

      - name: Set Rust Toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}

      # Build and run the tests
      - name: Build Workspace
        env:
          LLVM_SYS_140_PREFIX: ${{ env.LLVM_PATH }}
        run: cargo build --verbose --workspace

      - name: Run Tests
        env:
          LLVM_SYS_140_PREFIX: ${{ env.LLVM_PATH }}
        run: cargo test --verbose --workspace
